<div id='methodology'>

    <div id='citations'>
        <h3 class='hed'>
            Methodology & Sources:
        </h3>
        <p>
        Seth Wynes1,2,3 and Kimberly A Nicholas1
        <a href=https://thehill.com/policy/energy-environment/431440-ocasio-cortez-in-face-of-climate-change-its-legitimate-to-ask-if-ok/></a>
        Published 12 July 2017 • © 2017 IOP Publishing Ltd
        Environmental Research Letters, Volume 12, Number 7
        </p>
    </div>
    </br>
    <div id='articles'>
        <h3 class='hed'>
            More on the topic:
        </h3>

        <p class='article'>
            https://www.topic.com/a-brief-history-of-bullying-women-to-have-babies
        </p>

        <p class='article'>
            https://iopscience.iop.org/article/10.1088/1748-9326/aa7541
        </p>

        <p class='article'>
            https://www.telegraph.co.uk/women/societal-pressures/choosing-to-have-a-family/
        </p>
    </div>
</div>