</br>
<p class='section__hed'>{{copy.mainHed}}</p>
<div id='perspective-scroll'>
    <div id='vis' class='scroll__graphic'>
        <div class='graphic__chart'>
            <svg>
                <g class='g-axis'>
                    <g class='axis axis--x'></g>
                    <g class='axis axis--y'></g>
                </g>
                <g class='g-vis'>
                    <g class='emissions'></g>
                </g>
            </svg>
        </div>
    </div>  
    </br>
    <button id='saveButton'>Export to PNG</button>
    </br>
</div>
<p class='prose_body'>
<strong>Trying to reduce your carbon footprint?</strong> You should probably consider having fewer babies. That's a recommendation 
given by the scientists from Lund University, calculating that such action has a potential to reduce annual personal emissions of CO₂ by 58.6 tonnes. 
All other options would have much less impact, starting with car-free lifestyle (2.4 tCO₂e), reduction in plane travel (1.6 tCO₂e per single 
transatlantic flight) or a plant-based diet (0.8 tCO₂e).
</p>
</br>
<p class='prose_body'>
So should you give up on your plans of being a parent? Depends. If you're a proud owner of a uterus, at some point in your life 
you’ve likely heard that having children isn’t really a choice, but sort of a duty. And if you're having a long-term, childless 
relationship, you must have already perfected your response to "When are you going to have kids?". It's a paradox, that the question is usually
asked by people whose kids could potentially suffer from overpopulation the most. One solution offers itself. The least painful, 
yet efficient enviromental action people can immediately take is to start minding their own business. It would likely not be enough,
but the idea is worth trying pursuing.
</p>