</br>
<p class='section__hed'>{{copy.mainHed}}</p>
<div id='perspective-scroll'>
    <div id='vis' class='scroll__graphic'>
        <div class='graphic__chart'>
            <svg>
                <g class='g-axis'>
                    <g class='axis axis--x'></g>
                    <g class='axis axis--y'></g>
                </g>
                <g class='g-vis'>
                    <g class='emissions'></g>
                </g>
            </svg>
        </div>

    </div>  
</div>
</br>
{{!-- <p class='prose_body'>{{{copy.epilogueHed}}}</p> --}}
<p class='prose_body'>
In 1798, Thomas Malthus famously claimed, that "The power of population is indefinitely greater than the power in the earth to 
produce subsistence for man". He believed that abundance will always lead to population growth rather than high standard of living. 
In many ways, his overly pessimistic predictions were proved wrong by technology and all the childless households of today.</p>
<p class='prose_body'> 
The main message of his work repeatedly became revived in voices of those concerned by the future of humankind. In the late 1960s and 1970s, 
Paul Ehrlich expected the earth’s resources to dry out soon, precipitating a “great die-off” that would commence in the 1980s.
More than 200 years after Malthus, congresswoman Ocasio-Cortez 
<a href=https://thehill.com/policy/energy-environment/431440-ocasio-cortez-in-face-of-climate-change-its-legitimate-to-ask-if-ok/>tries</a> 
 to convince her Instragram followers, that it is a "legitimate question" to doubt whether it's ok for parents to continue to 
have children in this age.
</p>
<p class='prose_body'>
And she might be right. A 2017 study from Lund University found that the single most efficient action to decrease 
our carbon footprint is having smaller families.
</p>
</p>

</br>
</br>
</br>